
.app{
	font-family:'Inter';
	width: 100%;
	padding-top: 20px;
}

.content{
	width: 80%;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.profileImg{
	text-align: center;
}

.profileName{
	color: #101828;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px; 
}

a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; 
}

.icon1{
	display: block;
	position: absolute;
	top: 2;
	right: 200px;
}

.icon2{
	display: none;
	position: absolute;
	top: 2;
	right:10px;
}

footer>.logo1>img{
	width: 40px;
}

footer>.logo2>img{
	width: 100px;
}


ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:  0 20px;
	padding: 0px;
}

li{
	list-style: none;
	border: 1px solid #EAECF0;
	background: #EAECF0;
	width: 100%;
	padding: 24px 32px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	margin-top: 15px;
	cursor: pointer;
}


.socialIcon{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 20px;
}


footer{
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .footerText{
	margin-left: 60px;
	padding: 20px 0;
	color: #667085;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}


@media (max-width:900px) {
	.content{
		width: 90%;
		margin: 40px auto;
	}

	a {
		font-size: 14px;
		font-weight: 500;
	}

	.icon1{
		display: none;
	}

	.icon2{
		display: block;
	}

	footer{
		width: 90%;
		flex-direction: column;
		align-items: start;
		border-top: 1px solid #EAECF0;
		padding-top: 40px;
		padding-bottom: 30px;
	}

	footer .footerText{
		padding: 0;
		margin-left: 0;
		font-size: 14px;
	}

	footer>.logo1>img{
		width: 40px;
	}

	footer>.logo2>img{
		width: 80px;
	}
}